{% extends 'base.html' %}
{% load staticfiles %}
<html>
<head>
    <title>Home Page</title>
</head>
<body>
{% block content %}
    <h2 style="color: orangered">About Organigation:</h2>
    <p>It is the good institute in Hyderabad,faculties are experienced in real time experiance<br>
        All the courses are teached</p>
    <h2 style="color: fuchsia" >About Founder:</h2>
    <p style="background-color: aqua">His name is charan,good exp candidate and  real time exp</p>

{%endblock%}

</body>
</html>